<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
      </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href="/detail-history">
      <ion-label>
        <p>Tanggal Pengeluaran</p>
        <h2>Sabtu, 20 Mei 2019</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Tanggal Pengeluaran</p>
        <h2>Senin, 22 Mei 2019</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Tanggal Pengeluaran</p>
        <h2>Selasa, 23 Mei 2019</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Tanggal Pengeluaran</p>
        <h2>Rabu, 24 Mei 2019</h2>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
