<ion-header>
  <ion-toolbar color="primary">
    <ion-title>input-kebutuhan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nama</ion-label>
              <ion-input placeholder="Enter Nama kebutuhan" [(ngModel)]="nama"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Harga</ion-label>
              <ion-input type="number" placeholder="Enter Harga Kebutuhan" [(ngModel)]="harga"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Satuan</ion-label>
              <ion-input placeholder="Enter Satuan" [(ngModel)]="satuan"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Status</ion-label>
              <ion-select [(ngModel)]="status" placeholder="Select One" >
                <ion-select-option value="true">True</ion-select-option>
                <ion-select-option value="false">False</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Stockable</ion-label>
              <ion-select [(ngModel)]="stockable" placeholder="Select One" >
                <ion-select-option value="true">True</ion-select-option>
                <ion-select-option value="false">False</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Stok</ion-label>
              <ion-input type="number" placeholder="Enter Stok" [(ngModel)]="stok"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <ion-button (click)="CreateRecord()" [disabled]="!nama || !harga || !satuan || !status || !stockable ||!stok ">
              <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
              &nbsp;Create Record
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
