<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kalkulasi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <p>Kalkulasi Bulan</p>
          <h2>Januari 2019</h2>
        </ion-label>
        <ion-icon slot="end" name="eye"></ion-icon>
        <ion-icon slot="end" name="print"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
            <p>Kalkulasi Bulan</p>
            <h2>Februari 2019</h2>
        </ion-label>
        <ion-icon slot="end" name="eye"></ion-icon>
        <ion-icon slot="end" name="print"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
            <p>Kalkulasi Bulan</p>
            <h2>Maret 2019</h2>
        </ion-label>
        <ion-icon slot="end" name="eye"></ion-icon>
        <ion-icon slot="end" name="print"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
            <p>Kalkulasi Bulan</p>
            <h2>April 2019</h2>
        </ion-label>
        <ion-icon slot="end" name="eye"></ion-icon>
        <ion-icon slot="end" name="print"></ion-icon>
      </ion-item>
    </ion-list>

</ion-content>