<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Beranda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card-header>
    <ion-card-title>Stok Kebutuhan</ion-card-title>
  </ion-card-header>

  <ion-card *ngFor="let item of kebutuhan">
    <ion-item>
      <ion-label>{{ item.Nama }}</ion-label>
      <ion-note slot="end" color="dark">{{item.Stok}} {{item.Satuan}}</ion-note>
    </ion-item>
  </ion-card>

  <ion-card-header>
    <ion-card-title>Monitoring Bulan Ini</ion-card-title>
  </ion-card-header>
    
  <ion-list>
    <ion-item>
      <ion-label>Listrik</ion-label>
      <ion-note slot="end" color="dark">5600 KWH</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Air</ion-label>
      <ion-note slot="end" color="dark">2000 Kubik</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Sabun</ion-label>
      <ion-note slot="end" color="dark">7800 mL</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Pewangi</ion-label>
      <ion-note slot="end" color="dark">5600 mL</ion-note>
    </ion-item>
  </ion-list>

</ion-content>  