<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Beranda</ion-title>
    <ion-icon slot="end" name="add" tappable (click)="openModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card-header>
    <ion-card-title>Stok Kebutuhan</ion-card-title>
  </ion-card-header>

  <ion-card *ngFor="let i of kebutuhan">
    <ion-item>
      <ion-label>{{ i.nama }}</ion-label>
      <ion-note slot="end" color="dark">{{i.stok}} {{i.satuan}}</ion-note>
    </ion-item>
  </ion-card>

  <ion-card-header>
    <ion-card-title>Status Laundry</ion-card-title>
  </ion-card-header>
    
  <ion-list>
    <ion-item>
      <ion-label>Masuk</ion-label>
      <ion-note slot="end" color="dark">5</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Status Dalam Process</ion-label>
      <ion-note slot="end" color="dark">4</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Belum Diambil</ion-label>
      <ion-note slot="end" color="dark">1</ion-note>
    </ion-item>
  </ion-list>

</ion-content>  