<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row justify-content-center align-items-center style="height: 100%; width: 100%">
      <ion-col class="img-pad" size="3">
        <ion-avatar >
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-card-header *ngIf="usaha">
            <ion-card-title>{{ usaha.Nama }}</ion-card-title>
            <ion-card-subtitle>Nama Usaha</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list>
    <ion-list-header>
      <ion-label><b>Personal</b></ion-label>
    </ion-list-header>
    <ion-item tappable (click)="gotoHistoryPage()">
      <ion-label>History</ion-label><ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item tappable (click)="gotoKebutuhanPage()">
      <ion-label>Kebutuhan</ion-label><ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item tappable (click)="gotoPengadaanPage()">
      <ion-label>Pengadaan</ion-label><ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label><b>Pengaturan</b></ion-label>
    </ion-list-header>
    <ion-item tappable (click)="gotoPanduanPage()">
      <ion-label>Panduan</ion-label><ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item tappable (click)="gotoAboutPage()">
      <ion-label>Tentang Kami</ion-label><ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item tappable (click)="userLogout()">
      <ion-label>Logout</ion-label><ion-icon slot="end" name="power"></ion-icon>
    </ion-item>
  </ion-list>
  </ion-content>
