<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/history"></ion-back-button>
      </ion-buttons>
      <ion-title> Detail History</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
        <ion-item>
            <ion-label>
              <p>Hari, Tanggal</p>
              <h2>Sabtu, 20 Mei 2019</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <p>Pemakaian Listrik</p>
              <h2>50 KWH</h2>
            </ion-label>
            <ion-label>
              <p>Nominal Rupiah</p>
              <h2>Rp 20.000</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <p>Pemakaian Air</p>
              <h2>25 Kubik</h2>
            </ion-label>
            <ion-label>
              <p>Nominal Rupiah</p>
              <h2>Rp 35.000</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <p>Pemakaian Sabun</p>
              <h2>250 mL</h2>
            </ion-label>
            <ion-label>
              <p>Nominal Rupiah</p>
              <h2>Rp 8.900</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              <p>Pemakaian Pewangi</p>
              <h2>500 mL</h2>
            </ion-label>
            <ion-label>
              <p>Nominal Rupiah</p>
              <h2>Rp 10.000</h2>
            </ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
  