<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/history"></ion-back-button>
      </ion-buttons>
      <ion-title> Detail History</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
        <ion-item>
            <ion-label>
              <p>Hari, Tanggal</p>
              <h2>Sabtu, 20 Mei 2019</h2>
            </ion-label>
        </ion-item>
        <ion-item *ngFor="let item of result">
            <ion-label>
              <p>Pemakaian {{item.nama}}</p>
              <h2> KWH</h2>
            </ion-label>
            <ion-label>
              <p>Nominal Rupiah</p>
              <h2>Rp 20.000</h2>
            </ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
  